.welcome {
  x: 50%;
  y: 50%;
  fill: white;
  font-size: 24;
  text-anchor: middle;
  visibility: hidden;
}

.avatar {
  x: 5;
  y: 5;
  width: 46;
  height: 46;
}

.fullname {
  x: 55;
  y: 25;
  width: 100%;
  font-size: 24;
  fill: white;
  text-length: 64;
  font-weight: bold;
  text-anchor: start;
}
  
.author {
  x: 55;
  y: 45;
  width: 100%;
  font-size: 22;
  fill: white;
  text-length: 64;
  text-anchor: start;
}

.tile-list-item textarea {
  x: 5;
  y: 65;
  width: 100%-10;
  font-size: 26;
  fill: white;
  text-length: 256;
}

.footer {
  x: 5;
  y: 100%-24;
  width: 100%-10;
  font-size: 24;
  fill: white;
  text-length: 64;
  text-anchor: start;
}

.combo-button {
  opacity: 0.5;
}
  
.tile-divider-bottom { x: 0; y: 100%-10; width: 100%; height: 2; fill: #76ECFE; }
  
#spinner { x: 50%-25; y: 50%-25; width: 50; height: 50; fill: fb-white; }